[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==0.23.4"
xarray = "*"
pip = "==18.0"

[dev-packages]
pytest = "*"

[requires]
python_version = "2.7"
#https://github.com/pypa/pipenv/issues/1263
